<label>Location: <input type="text" [(ngModel)]="location"></label>

<button (click)="loadGeoData(location)">Load</button>
{{weatherData| json}}
<img *ngIf="weatherData?.weather?.at(0)?.icon"
  src="http://openweathermap.org/img/wn/{{weatherData?.weather?.at(0)?.icon}}@2x.png">

<ul *ngIf="airtableData?.records">
  <li *ngFor="let element of airtableData?.records">
    {{element.fields.city}}
    {{element.fields.description}}
    {{element.fields.time}}
    {{isOlderThan30Mins(element.fields.time)}}
  </li>
</ul>

<div class="content">
  <div class="item" *ngFor="let record of airtableData?.records">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{record.fields.city}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img *ngIf="record.fields.iconText" src="http://openweathermap.org/img/wn/{{record.fields.iconText}}@2x.png">
        <mat-card-content>{{record.fields.temperature}} C°</mat-card-content>
        <mat-card-content>{{record.fields.description}}</mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>
